
Plugins>ImageJ on GPU (CLIJx)>Labeling, "MorphoLibJ Connected Components Labeling (CLIJx, experimental)", net.haesleinhuepf.clijx.morpholibj.MorphoLibJConnectedComponentsLabeling
Plugins>ImageJ on GPU (CLIJx)>Binary, "MorphoLibJ Chamfer Distance Map (CLIJx, experimental)", net.haesleinhuepf.clijx.morpholibj.MorphoLibJChamferDistanceMap
